.contact-content {
  height: 106vh;
  margin-top: 32px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}


.contact-content::after {
  content: "";
  background-image: ("img/1965_U1RVRElPIFNNIDE4OTctMTU.jpg");
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  opacity: 0.15;
  z-index: -1;
}